!!! 5
%html
  %head
    %link{rel: 'stylesheet', href: 'stylesheets/layout.css.scss'}
    %title Tejas Rawal
  %body
    #header_container
      %nav#nav_links
        %a{ href: '/about' } About
        %a{ href: '/portfolio' } Portfolio
        %a{ href: '/contact' } Contact

    = yield